<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alxmcr.bo.vocabularyapp_v8" >

    <!-- permission INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permission verified connectivity internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="bo.alxmcr.app.VocabularyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bo.alxmcr.app.activities.main.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.word.ListWordsActivity"
            android:label="@string/title_activity_list_words" />
        <activity
            android:name="bo.alxmcr.app.activities.main.DashboardActivity"
            android:label="@string/title_activity_dashboard" />

        <service android:name="bo.alxmcr.app.services.word.ReaderWordsService" />

        <activity
            android:name="bo.alxmcr.app.activities.word.CreateWordActivity"
            android:label="@string/title_activity_create_word" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.word.SearchWordActivity"
            android:label="@string/title_activity_search_word" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.word.MatchesWordsActivity"
            android:label="@string/title_activity_matches_words" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.word.WordActivity"
            android:label="@string/title_activity_word" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.word.EditWordActivity"
            android:label="@string/title_activity_edit_word" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.meaning.CreateMeaningActivity"
            android:label="@string/title_activity_create_meaning" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.meaning.MeaningActivity"
            android:label="@string/title_activity_meaning" >
        </activity>
        <activity
            android:name="bo.alxmcr.app.activities.meaning.EditMeaningActivity"
            android:label="@string/title_activity_edit_meaning" >
        </activity>
    </application>

</manifest>
